{% extends 'meetups/base.html'%}{% load static %} {%block css%}
<link
  rel="stylesheet"
  href="{% static  'meetups/styles/meetup_details.css'%}"
/>
{% endblock %} {% block main_heading %} {{meetup_title}} {%endblock%} 
{%block body%}

{% if meetup_found %}
<article>
  <img src="" alt="" />

  <section id="location">
    <h2>Session location</h2>
    <address>
      This session takes place in <span>LOCATION</span>(ADDRESS).
    </address>
  </section>
  <section id="details">
    <h2>What is this session about?</h2>
    <p>{{meetup_description}}</p>
    <footer>
      <p>
        Need more details? Please contact the organizer
        <a href="">contact</a>
      </p>
    </footer>
  </section>
  <section id="registration">
    <h2>Join us!</h2>
    FORM
  </section>
</article>
{%else%}
<h3 style='text-align:center;'>No meetup found</h3>
{%endif%}
{%endblock%}
